.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options {
    display: grid;
    gap: 16px;
    grid-template-columns: 100px 100px;
}
h1  {
    text-align: center;
}
button {
    color: #FFFFFF;
    background-color: cornflowerblue;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
}
.selected {
    background-color: green;
}
.wrong {
    background-color: red;
}
.default {
    background-color: black;
}